.h2-rep {
    color: rgb(110, 7, 169);
}

.button-rep {
    background-color: aquamarine;
}
.input-rep {
    color: rgb(215, 14, 121);
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}